*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
}

input, button, textarea, select {
  font: inherit;
}

.close_btn{
    position: absolute;
    top: 10px;
    right:10px;
    pad: 1px;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out;
}

.close_btn:hover{
    background-color: rgba(250, 250, 250, 0.315);
    
}

.display_speech{
    padding: 1rem;
}

.upload_speech_big{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80vw;
    max-width: 300px;
    height: 30vw;
    max-height: 250px;
    padding: 15px;
    background: #7365549e;
    color: whitesmoke;
    flex-direction: column;
    text-align: center;
}

.upload_speech_small{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 139, 139, 0.733);
    display: flex;
    margin: auto;
    transition: all 100ms ease-in-out;
}

.upload_speech_small:hover{
    scale: 1.05;
    background-color: rgba(24, 168, 168, 0.733);
}

.upload_speech_small .upload_icon{
    margin: auto;
}

.setting_bar{
    position: fixed;
    top: 3vw;
    right: 3vw;
    padding:1vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition: scale 0.5s ease-in-out;
}

.setting_bar .setting_icon{
    transition: all 100ms ease-in-out;
}

.setting_bar .setting_icon:hover,.setting_icon:focus,.setting_icon:active{
    scale: 1.05;
}

.settings{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80vw;
    max-width: 300px;
    height: 30vw;
    max-height: 200px;
    padding: 15px;
    background-color: rgb(217 153 129 / 77%);
    margin: auto;
}

.settings div{
    padding: 0;
}

.textbox{
    width: 80vw;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
    margin-top: 5vw;
}

.textbox textarea{
    width: inherit;
    padding: 10px;
}
